h3 {
}

canvas {

}

img {
  /*display: inline;
  max-height: 400px;*/
}

.getstartedbutton {
  /*width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: hotpink;*/
}

.hidegamescreen {
}
