h3 {
}

canvas {

}

img {
  /*display: inline;
  max-height: 400px;*/
}

.getstartedbutton {
  /*width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: hotpink;*/
}

div.jumbotron {
  background-image: url("../public/zoolanderschool.jpg");
  background-repeat: no-repeat;
  /*background-position: left top;*/
  background-size: 110%;
  background-color: white;
  margin-top: 50px;
}

div.jumbotron h1 {
  font-size: 2.5em;
  /*color: #00FF00;*/
  color: black;
}

.smaller-text {
  font-size: .75em;
}
