body {
  background-color: black;
}

h3 {
}
.canvas-container {
   text-align:center;
   margin-top: 5%;
}

canvas {
   display: inline;
}

img {
  /*display: inline;
  max-height: 400px;*/
}

.smaller-text {
  font-size: .75em;
}
